#col-container, #col-left {overflow: visible !important;}
.option-wrapper {margin-top: 3em;}
.option-wrapper:before {content:''; display:block;border-bottom: 1px solid rgba(100,100,100,0.1);margin-bottom: 3em;}